data:
#  email: {{ promptString "Email address" | quote }}
#  name: {{ promptString "Name" | quote }}
  computerName: {{ promptString "computerName" | quote }}
  isWorkLaptop: {{ promptChoice "Is this a work laptop" (list "y" "n") | quote }}
