#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{- if eq .isWorkLaptop "n" -}}
{{ range .packages.darwin.caskspersonal -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{- if eq .isWorkLaptop "y" -}}
{{ range .packages.darwin.caskswork -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
